{% extends 'base.html.twig' %}

{% block title %}Posgrado Conjunto Ciencias Matemáticas{% endblock %}

{% block alert %}
{% endblock %}

{% block banner %}
    <div class="hero-tutores">
        <div class="container">
            <div class="hero-text-2 blue">Contacto</div>
        </div>
    </div>
{% endblock %}

{% block body %}

    <section id="tutores-info">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 col-sm-6">
                    <div class="contacto-title">COORDINACIÓN DEL POSGRADO CONJUNTO</div>

                    <div class="d-flex flex-column">
                        <div class="blue">M.A.D. Morelia Álvarez</div>
                        <div>Morelia: (443) 322 2741</div>
                        <div>CDMX: 5623 2741</div>
                        <div>posmat<i class="bi bi-at"></i>matmor.unam.mx</div>
                    </div>

                </div>
                <div class="col-12 col-sm-6">
                    <div class="contacto-title">CENTRO DE CIENCIAS MATEMÁTICAS UNAM</div>

                    <div class="d-flex flex-column">
                        <div class="blue">UNAM Campus Morelia</div>
                        <div>Morelia: (443) 322 2798</div>
                        <div>CDMX: 5623 2798</div>
                        <div>direccion<i class="bi bi-at"></i>matmor.unam.mx</div>
                    </div>

                </div>
            </div>
            <div class="row my-5">
                <div class="col-12 col-sm-6">
                    <div class="contacto-title">Instituto de Física y Matemáticas UMSNH</div>

                    <div class="d-flex flex-column">
                        <div> Edificio C-3, Ciudad Universitaria</div>
                        <div>Universidad Michoacana de </div>
                        <div>San Nicolás de Hidalgo</div>
                        <div>Control Escolar: (443) 322 3500, ext 3070</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="contacto-title">Facultad de Ciencias Físico Matemáticas UMSNH</div>

                    <div class="d-flex flex-column">
                        <div>Avenida Universidad 100</div>
                        <div>Ciudad Universitaria</div>
                        <div>Universidad Michoacana de </div>
                        <div>San Nicolás de Hidalgo</div>
                    </div>
                </div>
            </div>

            <div class="py-5">
                <iframe src="https://storage.googleapis.com/maps-solutions-yay43bujvm/locator-plus/1ksy/locator-plus.html"
                        width="100%" height="300px"
                        style="border:0;"
                        loading="lazy">
                </iframe>
            </div>
        </div>
    </section>
{% endblock %}
