{% extends 'base.html.twig' %}

{% block title %}Posgrado Conjunto Ciencias Matemáticas{% endblock %}

{% block alert %}
{% endblock %}

{% block banner %}
    <div class="hero-admision">
        <div class="container">
            <div class="hero-text-2 blue">Admisión</div>
            <div class="hero-text-2 blue d-sm-none">Maestría y Doctorado</div>
        </div>
    </div>
{% endblock %}

{% block body %}
   cd
{% endblock %}
