{% extends 'base.html.twig' %}

{% block title %}Modificar{% endblock %}

{% block body %}
    <h1>Modificar</h1>

    {{ include('semestre/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
