body, html {
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    color: #767676;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #EA5B2E;
    font-weight: 500;
}

.hero-image {
    background-image: url(../img/dm/BANNER-movil.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 550px;
    z-index: 0;
    padding: 140px 0 80px 0;
}


#infographic {
    padding: 60px 0;
    background-color:#F0F0F0;
}

.info-icon {
    text-align: center;
    margin-bottom: 16px;
}

.info-graph-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #333233;
    margin-bottom: 4px;
}

.info-graph-subtitle {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #767676;
}

#intro {
    padding: 70px 0;
}

H1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin: 80px 0 50px 0;
}

.content {
    max-width: 700px;
}

.time {
    margin-top: 40px;
    margin-right: 32px;
}
.course-title {
    font-weight: 700;
    font-size: 24px;
    color: #EA5B2E;
    margin-bottom: 8px;
    margin-top: 32px;
    max-width: 720px;
}

.professor {
    font-weight: 700;
    font-size: 16px;
    color: #333233;
}

.university {
    font-size: 16px;
    margin-left: 12px;
    color: #767676;
}

.abstract {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    max-width: 720px;
    color: #333233;
    margin-top: 12px;
    margin-bottom: 24px;
}

#organizadores {
    padding: 60px 0;
    background-color: #EA5B2E;
}

#organizadores h2 {
    color: #621400;
}

.organizador {
    color: #621400;
    margin-bottom: 8px;
    font-weight: 500;
}

#footer {
    padding: 72px 0;
    background-color: #000000;
}

.orange {
    color: #EA5B2E;
}

.white {
    color: white;
}

.sponsor {
    margin-bottom: 4rem;
}

.copyright {
    color: white;
    font-size: 12px;
}

@media (min-width: 768px) {

    .hero-image {
        background-image: url(../img/dm/BANNER.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 750px;
        z-index: 0;
        padding: 140px 0 80px 0;
    }

    .course {
        margin-right: 180px;
    }
}